body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 150%;
    background-color: rgb(235, 239, 242);
}

.content {
    width: 700px;
    margin: auto;
}

a {
    color: black;
}

img {
    width: 400px;
    height: auto;
}